/**************
 google fonts
 ***************/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

 /***************
  common styles 
  ***************/
  body{
    font-family: 'Poppins', sans-serif;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /***************
   banner styles 
   ****************/
   .banner{
    display: flex;
    width: 1440px;
    height: 677px;
    background: #2D25A0;
   }
  
   .banner-text-and-button{
     width: 50%;
  }
   .banner-title{
     width: 485px;
     height: 230px;
     font-size: 64px;
     line-height: 80px;
     margin-top: 207px;
     margin-left: 156px;
     font-weight: bold;
     color: #FFFFFF;
     
   }
  
   .watch-live-button{
     width: 168px;
     height: 44px;
     margin-left: 156px;
     align-items: center;
     color: #FFFFFF;
     background-color: #E02C6D;
    padding-top: 10px;
     padding-left: 24px;
     overflow: hidden;
   

   }
   .watch-live-button .fa-arrow-right{
      width: 24px;
     height: 24px;
     position: relative;
     left: 8px;
   }
  
   .banner-img{
     width: 50%;
     /* position: relative; */
   }
   .banner-img img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140.99px;
    margin-bottom: 86px;

   }
   .banner:hover img{
     transform: scale(1.4) ;
     transition: transform 1s ease;
   }

   /*************************
    players detail styles 
    *************************/
    .players-detail-bonus-part-footer-section{
      
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .players-detail-part1, .players-detail-part2-3-4 {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 30px;
    }
  

    .player-article-row1{
      width: 330px;
      height: 456px;
      margin-top: 70px; 
      background-color:#FFFFFF; 
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.about-a-player{
  width: 300px;
  height: 426px;
  display: flex;
  flex-direction: column;
 padding: 15px;
}

.player-img img{
  width: 300px;
  height: 256px;

}
.player-name-info-part{
  width: 300px;
  height: 154px;
  display: flex;
  flex-direction: column;
 
}
.player-name{
  width: 300px;
  height: 40px;
  display: flex;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 28px;
 
 
}
.player-info{
  width: 300px;
  height: 154px;
  display: flex;
  padding-top:0px;
 
}

.players-detail-part2-3-4{
  width: 1050px;
  height: 474px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 30px;
 

}

.player-article-row2-3-4{
  width: 330px;
  height: 456px;
  margin-top: 27px; 
  background-color:#FFFFFF; 
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/*****************
bonus part 
*********************/
.tooltip .tooltiptext{
  visibility: hidden;
  
}
.tooltip:hover .tooltiptext{
  visibility: visible;
}
table{
  border-collapse: collapse;
}
td,th{
  border: 1px solid gray;
  padding: 5px;
}
.footer-part{
 
  display: flex;
justify-content: center;
 flex-direction: column;
 align-items: center;

}
.footer-logo-part{
  width: 483.87px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  
  
}
.footer-logo-part .logo img{
 width: 262.1px;
 height: 110px;
  
}
.footer-logo-text{
  width: 227.82px;
  height: 67.42px;
  font-family: 'Niconne', cursive;
  font-weight: 400;
  font-size: 72.58px;
  color: #10437A;
}
.footer-icons{

  width: 170px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.footer-icons .icon{
  display: flex;
  width: 32px;
  height: 32px;
  background: #0b0d172a;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
 
}
.footer-part .footer-copyright{
  align-items: center;
  justify-content: center;
}

/*****************************
 media quaries
 *******************************/

 /******************************
  mobile devices
 ********************************/

     /***************************
      for banner 
      *******************************/

   @media only screen and (max-width:688px){
     .banner{
       width: 100%;
       height: 30%;
       display: flex;
       flex-direction: column;
    }
     .banner .banner-text-and-button .banner-title{
       width: 100%;
    margin-top: 10px;
 }
.banner-text-and-button button{
   width: 60%;
   margin-top: 50px;
 }
 .banner  .banner img{
      width: 100%;
   margin-top: 40px;
   margin-left: 16px;
    display: flex;
     flex-direction: column;
   
    }
    .banner:hover img{
      transform: scale(1.1) ;
      transition: transform 1s ease;
    }
     
    /****************************************
    players part 
    ***************************************/

    .players-detail-bonus-part-footer-section{
        width: 100%;
    }
    .players-detail-part1{
       
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    /* .players-detail-part1{
      
        
    } */

    .players-detail-part2-3-4{
      display: flex;
      align-items: center;
      grid-template-columns: repeat(1,1fr);
      flex-direction: column;
      
    }
    /****************************
     footer 
     ********************************/
    /* .footer-section, .footer-part{
      display: flex;
      flex-direction: row;
      justify-content: end;
      flex-wrap: wrap;
     
    } */
}

/**********************************
 tablet device 
 **********************************/

@media only screen and (min-width: 688px) and (max-width: 922px){

/************************* 
banner part 
****************************/
.banner{
  width: 100%;

  display: flex;
  flex-direction: row;
}

 .banner-title{
  display: flex;
margin-left: 40px;
  width: 50%;

}
.banner-text-and-button button{
width: 50%;
margin-top: 50px;
margin-left: 40px;
}
 .banner-img  img{
 width: 100%;
display: flex;
flex-direction: column;

}
.banner:hover img{
 transform: scale(1.1) ;
 transition: transform 1s ease;
}

  /***********************
players part 
********************************/
  .players-detail-bonus-part-footer-section{
      width: 100%;
  }
  .players-detail-part1{
      grid-template-columns: repeat(2,1fr);
      flex-direction: column;
  }

  .players-detail-part2-3-4{
    display: flex;
   
   flex-wrap: wrap;
   
   
    
  }

}
   
 