/**************
 google font 
 ***************/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /***************
  common styles 
  ***************/
  body{
    font-family: 'Poppins', sans-serif;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /***************
   banner styles 
   ****************/
   .banner{
    display: flex;
    width: 1440px;
    height: 677px;
    background: #2D25A0;
   }
  
   .banner-text-and-button{
     width: 50%;
  }
   .banner-title{
     width: 485px;
     height: 230px;
     font-size: 64px;
     line-height: 80px;
     margin-top: 207px;
     margin-left: 156px;
     font-weight: bold;
     color: #FFFFFF;
     
   }
  
   .watch-live-button{
     width: 168px;
     height: 44px;
     margin-left: 156px;
     align-items: center;
     color: #FFFFFF;
     background-color: #E02C6D;
    padding-top: 10px;
     padding-left: 24px;
     overflow: hidden;
   

   }
   .watch-live-button .fa-arrow-right{
      width: 24px;
     height: 24px;
     position: relative;
     left: 8px;
   }
  
   .banner-img{
     width: 50%;
     /* position: relative; */
   }
   .banner-img img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140.99px;
    margin-bottom: 86px;

   }
   .banner:hover img{
     transform: scale(1.4) ;
     transition: transform 1s ease;
   }

   /*************************
    players detail styles 
    *************************/
    .players-detail-bonus-part-footer-section{
      display: flex;
      flex-direction: column;

    }
    .players-detail-part1, .players-detail-part2-3-4 {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 30px;
    }
  

    .player-article-row1{
      width: 330px;
      height: 456px;
      margin-top: 70px; 
      background-color:#FFFFFF; 
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.about-a-player{
  width: 300px;
  height: 426px;
  display: flex;
  flex-direction: column;
 padding: 15px;
}

.player-img img{
  width: 300px;
  height: 256px;

}
.player-name-info-part{
  width: 300px;
  height: 154px;
  display: flex;
  flex-direction: column;
 
}
.player-name{
  width: 300px;
  height: 40px;
  display: flex;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 28px;
 
 
}
.player-info{
  width: 300px;
  height: 154px;
  display: flex;
  padding-top:0px;
 
}

.players-detail-part2-3-4{
  width: 1050px;
  height: 474px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 30px;
 

}

.player-article-row2-3-4{
  width: 330px;
  height: 456px;
  margin-top: 27px; 
  background-color:#FFFFFF; 
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}